<h1>THIS IS A PLACE WITH NOOOO SUN </h1>

<p>
  <b>Place:</b>
  <%=h @location.place %>
</p>

<p>
	Somewhere around here will be the places that are an hour or two away from THE PLACE WITH NO SUN ABOVE.
</p>

<p>
	THEN MAYBE - if I get loads of feedback I'll make this but links to places a few more hours away :)
	<br />OR MAYBE ILL JUST MAKE IT A BIG ADVERT FOR BEER?
</p>

<%= link_to 'AMUSE IAN', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>